button{
  margin: 30px;
  border: rgb(36, 44, 46) 2px solid;
  border-radius: 5px;
  box-shadow: 0px 5px 10px grey;
}

button:hower{
  cursor: pointer;
  color: white;
}

button.szurke-gomb:hower{
  background-color: rgb(60, 80, 80);
}

button.piros-gomb:hower{
  background-color: rgb(99, 0, 0);
}


button:active{
  box-shadow: 0px 5px 10px grey;
}


.szurke-gomb{
 background-color: rgb(175, 201, 206);
}

.piros-gomb{
  background-color: rgb(253, 104, 104);
}


.kis-gomb{
font-size: 14px;
padding: 8px 15px;
}

.magy-gomb{
font-size: 24px;
padding: 10px 20px;
}